
body{
    background-color: black;
}

.DivCabecera{
    display: flex;
    justify-content: center;
}


.DivCabecera-MyBlog{
    position: fixed;
    background: linear-gradient(to right, #F26D52, #F46648);
    color: black;
    font-size: 35px;
    padding: 8px 100%;
    box-shadow: 0 1px 20px 0.5px black;
    font-family: 'Kaushan Script', cursive;
}




/* SEDANS */
.Sendan_1{
    display: flex;
    background-color: black; 
    margin-top: 6px;
    height: 558px;
    border: 7px solid #F46648; 
}

/* COUPES */
.Coupe_1{
    display: flex;
    background-color: black; 
    margin-top: 6px;
    height: 558px;
    border: 7px solid #F46648; 
}




/* PICKUPS */
.Pick-Up_1{
    background-color: black; 
    height: 558px;
    border: 7px solid #F46648; 
    display: flex;
    margin-top: 6px;
}

.Pick-Up_2{
    background-color: black; 
    height: 558px;
    border: 7px solid #F46648; 
    display: flex;
    margin-top: 20px;
}


.ContenedorImgs{
margin-left: 10px;
margin-top: 10px;
}

.Imgs{
    width: 700px;
    height: 525px;
    object-fit: cover;
}



.contenedor-form{ 
justify-content: right;
margin-left: 10px;
margin-top: 12px;
}

.form-textarea{
    resize: none;
    font-size: 50px;
    color: white;
    border-radius: 10px;
    border: 2px solid #F46648; 
    background: linear-gradient(to bottom,#000000, #1C1C1C );
    font-family: 'Saira Condensed', sans-serif;
}



.Div-selectorAutos{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    background: linear-gradient(to left, #F49148, #F85D3E);
    font-family: 'Saira Condensed', sans-serif;
}

.Div-selectorAutos_h1{
    color: black;
    margin-left: 350px;
    font-size: 40px;
}

.Div-selectorAutos_select{
    margin-right: 350px;
    margin-top: 30px; 
    width: 250px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    background:#FEE0C6 ;
}



/* arreglar */

/*MOBILE RESPONSIVE*/
@media only screen and (max-width: 500px){

    .Sendan_1{
        display: flex;
        flex-wrap: wrap;
        background-color: black; 
        margin-top: 5px;
        height: 590px;
        width: 414px;
        border: 7px solid #F46648;       
    }
       
    .Pick-Up_1{
        display: flex;
        flex-wrap: wrap;
        background-color: black; 
        margin-top: 5px;
        height: 590px;
        width: 414px;
        border: 7px solid #F46648;       
     }


    .Pick-Up_2{
        display: flex;
        flex-wrap: wrap;
        background-color: black; 
        margin-top: 5px; /* VA AUMENTANDO EN 14PX POR CADA AUTO EN CADA SECCION */
        height: 590px;
        width: 414px;
        border: 7px solid #F46648;       
    }

    .Coupe_1{
        display: flex;
        flex-wrap: wrap;
        background-color: black; 
        margin-top: 5px;
        height: 590px;
        width: 414px;
        border: 7px solid #F46648;       
     }
     
    .ContenedorImgs{
    margin-left: 5px;
    margin-top: 5px;   
    }

    .Imgs{
        width: 390px;
        height: 265px;
        object-fit: cover;
    }
       
    .contenedor-form{ 
    margin-left: 3px;
    margin-top: 0px;
    }
   
    .form-textarea{
        height: 300px;
        width: 394px;
        resize: none;
        font-size: 30px;
        color: white;
        border-radius: 0px;
        border: 2px solid #F46648; 
        background: linear-gradient(to bottom,#000000, #1C1C1C );
        font-family: 'Saira Condensed', sans-serif;
    }

    .Div-selectorAutos{
        margin-top: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background: linear-gradient(to left, #000000, #171717);
        font-family: 'Saira Condensed', sans-serif;
    }
    
    .Div-selectorAutos_h1{
        color: white;
        margin-left: 0px;
        font-size: 40px;
    }
    
    .Div-selectorAutos_select{
        margin-right: 0px;
        margin-top: -20px; 
        width: 250px;
        height: 40px;
        font-size: 25px;
        text-align: center;
        background:#FEE0C6 ;
    }

}
