*{
	font-weight: 100;
	font-family:'Otomanopee One', sans-serif;
}
body{
    background: radial-gradient(circle, #fff,#bbb);
    padding-top: 40px;
    display: flex;
}

.grid-container {
display: grid;  
grid-template-columns: repeat(auto-fill,minmax(50px,400px));
grid-auto-rows: 500px;
grid-gap: 10px;
align-content: center;
justify-content: center;
}

@media only screen and (max-width: 500px){
.grid-container {
    display: grid;  
    grid-template-columns: repeat(auto-fill,minmax(50px,200px));
    grid-auto-rows: 100px;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
    }
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 70px;
}

img:first-child{
    grid-column: 1/span 3;
    grid-row: 1/span 1;
    border-radius: 29px;
    place-self: center,center;
    
}

.flex-galeria{
    display: flex;
    justify-content: center;
}
.flex-Galeria__div{
    font-family:'Otomanopee One', sans-serif;;
	background:black;
	color:white;
	font-size: 27px;
	margin-top:-40px;
    margin-left:100%;	
	padding: 0px 100%;
	text-align:center;
	box-shadow: 4px 4px 5px 0 #040404;
	position: fixed;
}
