*{
	font-weight: 100px;
	font-family:'Otomanopee One', sans-serif;
}

body{
	padding-top: 30px;
	background: #ddd4e7 ;

}

/*MENU ESTATICO*/
.flex-menufijo{
	display: flex;
	justify-content: center;
}
.flex-menufijo__div{
	font-family:'Otomanopee One', sans-serif;;
	background:black;
	color:white;
	font-size: 30px;
	margin:-38px;	
	padding: 0px 50%;
	text-align:center;
	box-shadow: 4px 4px 5px 0 #040404;
	position: fixed;
}

/*CARTEL BIENVENIDOS*/
.flex-bienvenidos__item{
 display: flex;
 flex-wrap: wrap;
 justify-content: center; 	
}
.flex-bienvenidos__item-h2{
	font-family:'Otomanopee One', sans-serif;;
	font-size: 18px;
    color: white;
    background: black;
    margin: 0vh 36.7vw;
    padding: 7px 0px;
    width: 310px;
    text-align: center;
    border: 2px solid #040404;
	box-shadow: 2px 0px 5px 0 #040404;
	display: inline-block;
}


/*SECTOR DE LAS IMAGENES*/
.flex-imagenes{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly; 	 	
}
.imagenes__img{
	display: inline-block;
	border: 4px groove black;
	margin-top: 40px;
	border-radius: 10px;
	height: 400px;
}
.imagenes__img2{
	display: inline-block;
	border: 4px groove black;
	margin-top: 40px;
	border-radius: 10px;
	height: 400px;
}
.imagenes__img3{
	display: inline-block;
	border: 4px groove black;
	margin-top: 40px;
	border-radius: 10px;
	height: 400px;


}
.imagenes__img4{
	display: inline-block;
	border: 4px groove black;
	margin-top: 40px;
	border-radius: 10px;
	height: 400px;
}
.imagenes__img:hover{
border: 5px solid #58016b;
transition: all 0.5s;
cursor: pointer;
	
}
.imagenes__img2:hover{
	border: 5px solid #58016b;
	transition: all 0.5s;
	cursor: pointer;

}
.imagenes__img3:hover{
	border: 5px solid #58016b;
	transition: all 0.5s;
	cursor: pointer;

}
.imagenes__img4:hover{
	border: 5px solid #58016b;
	transition: all 0.5s;
	cursor: pointer;
}



/* SECTOR MENU */
.nav{
	background:#58016b;
	margin:-8px;
}
.nav__li{
	display: inline-block;
	padding: 8px;
	color: white;	
}
.nav__li a{ 
	color: white;
	text-decoration: none;
}
.nav__li i{
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
}
.nav__li:hover > a{
	color: #E678FF;
}
.nav__li:hover > i{
	color: #E678FF;
}

