*{
	font-weight: 100px;
	font-family:'Otomanopee One', sans-serif;
}

body{
	background: #f2e6ff ;
    padding-top: 30px;
}

/*BARRA FACULTAD*/
.flex-barraposicion{
	display: flex;
	justify-content: center;
}
.flex-barraposicion__div{
	font-family:'Otomanopee One', sans-serif;;
	background:black;
	color:white;
	font-size: 30px;
	margin:-38px;	
	padding: 0px 50%;
	text-align:center;
	box-shadow: 4px 4px 5px 0 #040404;
	position: fixed;
}

/* SECTOR MENU */
.nav{
	background:#58016b;
	margin:-8px;
}
.nav__li{
	display: inline-block;
	padding: 3px;
	color: white;	
}
.nav__li a{ 
	color: white;
	text-decoration: none;
}
.nav__li i{
	box-sizing: border-box;
	text-align: right;
	margin-right: 5px;
}
.nav__li:hover > a{
	color: #E678FF;
}
.nav__li:hover > i{
	color: #E678FF;
}